In [1]:
from process import *
import re
from collections import Counter
from utils import *

In [2]:
paper_df = read_csv(DATA_PATH, 'processed_dblp_paper.csv')

In [3]:
df = pd.DataFrame()
df['aff'] = paper_df['affiliation'].astype('str').apply(lambda s: re.sub('#.*?#', '', s))

In [4]:
df['aff'] = df['aff'].apply(lambda x: x.lower())
df['aff'] = multiprocess_str(split_data(df, size=2000), 'aff')

100%|██████████| 1897/1897 [00:08<00:00, 223.25it/s]

In [7]:
def process(line):
    strings = line.split(',')
    def extract(string):
        pat = re.compile('[a-z]+')
        string_ = ' '.join(re.findall(pat, string))
        return string_
    return ','.join([extract(string) for string in strings if extract(string)])
        
df['processed_aff'] = df['aff'].apply(process)

In [8]:
pd.unique(df['processed_aff'].apply(lambda x: re.findall('univ[a-z]+', x)[0] if re.findall('univ[a-z]+', x) else np.nan))

array(['university', nan, 'universite', ..., 'universitez',
       'universitykiev', 'universitaten'], dtype=object)

In [9]:
reg_ = pd.unique(df['processed_aff'].apply(lambda x: x.split(',')[-1]))
reg__ = np.array([x for x in reg_ if len(x.split())==1])

In [10]:
def split_univ(aff):
    for x in aff.split(','):
        for x_ in x.split():
            if x_.startswith('univ'):
                return x

df['univ1'] = df['processed_aff'].apply(split_univ)

In [11]:
df['univ1'].isna().sum()

1107096

In [12]:
univs = pd.unique(df['univ1'])

In [17]:
univ_df = pd.DataFrame()
univ_df['university'] = univs

In [5]:
chrs = set()
chrs = chrs.union(*df['aff'].apply(set))

In [45]:
for i in list(chrs)[680:]:
    print(i)

慶
交

名
菱
’
́
構
и
α
ʻ
金
^

̈
輛
ǹ
ы

In [ ]:
word_count = Counter(' '.join(df['processed_aff'].values).replace(",",' ').split(' '))

In [13]:
univ_count = df['univ1'].value_counts()

In [15]:
univ_count.to_csv('univ_count.csv')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [16]:
univ_count[:700].sum()

1511243

In [21]:
word_count_df = pd.DataFrame()
word_count_df['word'] = word_count.keys()
word_count_df['count'] = word_count.values()

In [23]:
word_count_df = word_count_df.sort_values('count', ascending=False).reset_index(drop=True)

In [22]:
paper

                     word    count
6                      of  3229717
1              university  2469869
24                    and   893987
9              department   683937
25            engineering   566176
23                science   525624
21             technology   473537
22               computer   451251
101                   usa   435717
127                 china   400558
71              institute   377952
455                  dept   321795
32                 school   321695
68                     de   278270
241           information   228325
608                   eng   208557
4                research   190571
400                   for   186478
312            electrical   179835
192                   the   177880
128              national   161490
450                comput   157423
61                college   141480
182               germany   140390
172                center   137246
451                   sci   135526
119            laboratory   134428
213                 state   132137
84               sciences   131110
37                  japan   129637
...                   ...      ...
120411        napieracukf        1
120412           edalbera        1
120413             pahari        1
120414           albinson        1
120451    mathssotonacukf        1
120450            gajones        1
120449             lehrst        1
120447               frgo        1
120443           tesource        1
120442   yangzhouyangzhou        1
120441    datenstrukturen        1
20609             tinylox        1
120439           mecaniqu        1
120438              brind        1
120437              myrna        1
20610             macasek        1
120434         nguyentrai        1
120433   clinicvillarroel        1
120432           hospitai        1
120431       dimmunologia        1
120428           kongjing        1
120423             leuvei        1
120422              akiyo        1
120421         yamanouchi        1
120420          isolation        1
120418             marcam        1
120417  babbagecseeusfedu        1
120416             polack        1
120415          imhoffstr        1
209423           comtrade        1

[209424 rows x 2 columns]